html, body {
  padding:0;
  margin:0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: 'Titillium Web', sans-serif; 
}

html{
  height: 100%;
}

.responsive {
  max-width: 100%;
  height: auto;
}

/*Fonts-weights*/

.extra-light{
  font-weight: 200;
}

.light{
  font-weight: 300;
}

.semi-bold{
  font-weight: 600;
}

.bold{
  font-weight: 700;
}

.head-1{
  font-size: 72px;
  margin: 0;
  line-height: 1;
  color: #fff;
}

/*End of font weight*/

/*Button*/
.green-btn{
  display: inline-block;
  background-color: #88a234;
  color: #fff;
  border-radius: 2px;
  padding: 14px 16px;
  position: relative;
  text-decoration: none;
}

.green-btn:hover, .page-pre-1 a:hover, .page-next-1 a:hover, .page-pre-2 a:hover, .page-next-2 a:hover, .page-pre-3 a:hover, .page-next-3 a:hover, .page-pre-4 a:hover, .page-next-4 a:hover, .page-pre-5 a:hover, .page-next-5 a:hover {
  background-color: rgba(83, 105, 12, 0.8);
  color: #fff;
}

.front {
 background-image: url(images/cover.jpg);
 background-repeat: no-repeat;
 background-size: cover;
}

.front-margin{
  margin-bottom: 250px;
}

.topnav {
  padding-left: auto;
  padding-right: auto;
  padding-top: 40px;
  overflow: hidden;
  background-color: transparent;
  width: 100%;
  vertical-align: middle;
}

/* Navbar links */
.topnav a {
  float: left;
  color: #fff;
  vertical-align: middle;
  text-align: center;
  padding: 14px 20px;
  margin-top: 18.5px;
  margin-bottom: 18.5px;
  text-decoration: none;
  font-size: 17px;
}

.topnav-gen a {
  margin-left: 3px;
  margin-right: 3px;
}

.topnav-city {
  background-color: #e2e3e3;
  margin-right: 30px;
  display: inline;
  font-weight: 700;
  margin-left: 20px;
  position: relative;
}

.topnav-city a {
  color: #0045a7;
  background-color: #e2e3e3;
  position: relative;  
}

.login-btn{
  display: inline-block;
  position: relative;
}

.login-btn a{
  background-color: #88a234;
  border-radius: 2px;
  position: relative;
}

.logo {
  vertical-align: middle;
  float: left;
  display: inline;
  border-radius: 50%;
  background-image: -moz-linear-gradient( 90deg, rgb(192,228,255) 0%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(192,228,255) 0%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(192,228,255) 0%, rgb(255,255,255) 100%);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
  width: 80px;
  height: 80px;
  margin-right: 150px;   
}

.topnav .icon {
  display: none;
}

.ham-menu {
  display: none;
}

@media(max-width: 1200px){
  
  .topnav-city, .login-btn {
    display:none;
  }
  .ham-menu {
    display:block;
  }
}

@media(max-width: 1200px) {
  .topnav a {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media(max-width: 1200px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.news{
  background-color: #fff;
  background-size: cover;
}

.container{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 320px) {
  .container {
    max-width: 310px;
    padding-right: 5px;
    padding-left: 5px;
  }
}

@media (min-width: 360px) {
  .container {
    max-width: 330px;
  }
}

@media (min-width: 425px) {
  .container {
    max-width: 395px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media(min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.head-2 {
 text-align: left;
 font-size: 46px;
}

/*News*/
.box{
  float:left;
  width: 35%;
  padding-right: 5%;
}

.figure{
  float: right;
  width: 60%;
}

.figcaption{
  float: right;
  text-align: justify;
}

.head-2-res {
 text-align: left;
 font-size: 28px;
}

.box-res{
  display: none;
}

.figure-res{
  display: none;
  margin-top: 10px;
} 

.figcaption-res{
  text-align: justify;
}

/*End of News*/

@media (min-width: 768px) and (max-width: 992px) {

  .head-2{
    font-size: 32px; 
  }
} 

@media (min-width: 320px) and (max-width:768px) {

  .box-res, .figure-res {
  display: block;
  }
  
  .box, .figure{
    display: none;
  }

  .news h3{
    text-align: center;
  }

}

.page-pre-1 a{
  display: inline-block;
  background-color: #88a234;
  padding: 14px 20px;
  float: right;
  color: #fff;
  border-radius: 1px;
  margin-top: 80px;
}

.page-next-1 a{
  display: inline-block;
  background-color: #88a234;
  padding: 14px 20px;
  float: right;
  color: #fff;
  border-radius: 1px;
  margin-left: 3px;
  margin-top: 80px;
}

/*End of News*/


/*At A Glance*/

.at-glance{
  background-color: #f2f4f5;
  margin-top: 600px;
  padding-top: 50px;
}

.at-glance .container h3{
  text-align: center;
}

.head-3 {
  display: block;
  text-align: center;
  font-size: 72px;
}

.head-3-res {
  display: none;
  font-size: 36px;
}

.page-pre-2 a{
  display: inline-block;
  background-color: #88a234;
  padding: 14px 20px;
  float: left;
  position: relative;
  top: calc(350px - 26.4px);
  vertical-align: middle;
  color: #fff;
  border-radius: 1px;
  z-index: 4;
}

.page-next-2 a{
  display: inline-block;
  background-color: #88a234;
  padding: 14px 20px;
  float: right;
  position: relative;
  top: calc(350px - 26.4px);
  vertical-align: middle;
  color: #fff;
  border-radius: 1px;
  z-index: 4;
}

.center-img {
  border-radius: 6px;
  background-color: rgb(4, 4, 4);
  position: relative;
  left: calc(50% - 240px);
  width:400px;
  height: 700px;
  z-index: 3;
}

@media (min-width: 320px) and (max-width:768px){
  .at-glance{
    margin-top: 200px;
  }

  .head-3{
    display: none;
  }

  .head-3-res {
    display: block;
  }
}

@media(max-width: 576px){
  .center-img{
    position: relative;
    left: calc(50% - 100px);
    width: 50%;
    height: 50%;
  }

  .page-pre-2 a, .page-next-2 a{
    position: relative;
    top: calc((350px - 26.4px)/2);
  }
}

/*End of At A Glance*/

/*Shining Stars*/

.shine{
  padding-top: 80px;
}

.head-4 {
  text-align: left;
  font-size: 46px;
}

.box-2{
  float:left;
  width: 20%;
}

.page-pre-3 a{
  display: inline-block;
  background-color: #88a234;
  padding: 14px 20px;
  float: left;
  color: #fff;
  border-radius: 1px;
}

.page-next-3 a{
  display: inline-block;
  background-color: #88a234;
  padding: 14px 20px;
  float: left;
  color: #fff;
  border-radius: 1px;
  margin-left: 3px;
}

.shine-img{
  float: left;
  width: 40%;
  z-index: 4;
  padding-left: 2%;
  padding-right: 2.5%;
}

.quote{
  float: left;
  width: 35.5%;
}

.quote-content{
  margin: 0;
  font-size: 30px;
}

.quote-head{
  font-size: 100px;
  margin: 0;
  color: #e0e0e0;
  line-height: 0.8;
}

.top-quote-mark{
  position: relative;
  top:40px;
}

@media (min-width: 320px) and (max-width:768px){
  .shine{
    padding-top: 40px;
  }
}

/*Tablet Responsive Shining Star column*/

.box-2-res, .shine-img-res, .quote-res, .pagination-1, .abstract-1, .extend-1{
    display: none;
  }

.head-4-res {
  font-size: 42px;
}

.box-2-res{
  text-align: center;
}

.pagination-1{
  float: right;
}

.page-pre-4 a{
  display: inline-block;
  background-color: #88a234;
  padding: 14px 20px;
  color: #fff;
  border-radius: 1px;
}

.page-next-4 a{
  display: inline-block;
  background-color: #88a234;
  padding: 14px 20px;
  color: #fff;
  border-radius: 1px;
}

.shine-img-res{
  float: left;
  width: 45%;
  z-index: 4;
  padding-right: 5%;
}

.quote-res{
  float: left;
  width: 45%;
  padding-left: 5%
}

.quote-content-res{
  margin: 0;
  font-size: 30px;
}

.quote-head-res{
  font-size: 100px;
  margin: 0;
  color: #e0e0e0;
  line-height: 0.8;
}

.top-quote-mark-res{
  position: relative;
  top:40px;
}

.abstract-1{
  background-image: url("images/index-1600-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 600px;
  padding-bottom: 100px;
  padding-top: 50px;
}

.extend-1 {
  width: 77px;
  margin: 0;
  position: relative;
  top: -45px;
  left: 10px;
}

@media (min-width: 768px) and (max-width:1024px){
  .box-2-res, .shine-img-res, .quote-res, .pagination-1, .abstract-1, .extend-1{
    display: block;
  }

  .box-2, .shine-img, .quote, .abstract, .extend{
    display: none;
  }
}

/*Mobile Responsive Shining Star column*/

.box-2-res-2, .shine-img-res-2, .quote-res-2, .pagination-2, .abstract-2, .extend-2 {
    display: none;
  }

.head-4-res-2 {
  font-size: 36px;
}

.box-2-res-2 {
  text-align: center;
}

.pagination-2{
  float: right;
}

.page-pre-5 a{
  display: inline-block;
  background-color: #88a234;
  padding: 14px 20px;
  color: #fff;
  border-radius: 1px;
}

.page-next-5 a{
  display: inline-block;
  background-color: #88a234;
  padding: 14px 20px;
  color: #fff;
  border-radius: 1px;
  margin-left: 3px;
}

.shine-img-res-2{
  max-width: 100%;
  height: auto;
  z-index: 4;
  margin-left: auto;
  margin-right:auto;
}

.quote-res-2-res-2{
  width: 100%;
}

.quote-content-res-2{
  margin: 0;
  font-size: 28px;
}

.quote-head-res-2{
  font-size: 100px;
  margin: 0;
  color: #e0e0e0;
  line-height: 0.8;
}

.top-quote-mark-res-2{
  position: relative;
  top:40px;
}

.abstract-2{
  background-image: url("images/index-1600-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 80px;
  padding-bottom: 50px;
}

.extend-2{
  width: 77px;
  margin: 0;
  position: relative;
  top: -80px;
  left: 15px; 
}

@media (min-width: 320px) and (max-width:767px){
  .box-2-res-2, .shine-img-res-2, .quote-res-2, .pagination-2, .abstract-2, .extend-2 {
    display: block;
  }


  .box-2, .shine-img, .quote, .abstract, .extend{
    display: none;
  }
}

.abstract{
  background-image: url("images/index-1600-2.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 465px;
}

@media(min-width: 1556px){
 .abstract{
  background-size: cover;
 }
}

.extend{
  margin-top:30px;
  margin-bottom: 300px; 
}
/*End of shining star*/

/*Image gallery*/

.img-gallery h3{
  text-align: center;
}

.img-gallery h1{
  text-align: center;
  font-size: 48px;
  margin-top: 0;
}

@media(max-width: 768px) and (min-width: 576px){
  .img-gallery h1{
    font-size: 40px;
  }
}

@media(max-width: 576px) and (min-width: 320px){
  .img-gallery h1{
    font-size: 32px;
  }
}

.img-strip{
  float: left;
  height: auto;
  margin-bottom: 50px;
}

.mid-img{
  width: 18%;
  padding-left: 1.34%;
  padding-right: 1.34%;
}

.l-end-img{
  width: 7.3%;
  padding-right: 1.34%;
}

.r-end-img{
  width: 7.3%;
  padding-left: 1.34%;
}

/*End of Image Gallery*/

/*Mission*/

.container .mission{
  background-image: url(images/mission.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 400px;
  padding-top: 100px;
  color: #fff;
  padding-left: 50px;
  padding-bottom: 150px;
  margin-bottom: 100px;
  border-radius: 5px;
}

.msn {
  font-size: 46px;
  margin: 0;
  font-weight: 100;
  line-height: 1.2;
}

.msn-res {
  display: none;
  font-size: 40px;
  margin: 0;
  font-weight: 100;
  line-height: 1.2;
  text-align: justify;
}

@media (min-width: 320px) and (max-width:767px){
  
  .container .mission h3{
    text-align: center;
  }

  .msn-res{
    display: block; 
  }

  .msn{
    display: none;
  }

  .container .mission{
    padding: 50px 20px;
    margin-top: 130px;
    margin-bottom: 80px;
  }

  .msn-btn{
    align-content: center;
  }
}

@media (min-width: 768px) and (max-width:1024px){
  .container .mission{
    margin-top: 250px;
  }
}

/*End of Mission*/


/*Footer 1*/

.footer-1{
  background-image: url('images/footer.png');
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 175px;
  color: #e6e6e6;
}

.foot-info ul li{
  font-weight: 200;
  list-style-type: none;
  line-height: 1.8;
}

.head-5 {
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(230, 230, 230, 0.5);
}

.address{
  border-top: 1px solid rgba(230, 230, 230, 0.5);
  display: block;
}

.address p span{
  font-weight: 700;
  font-size: 18.72px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: auto;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media(min-width: 768px) {

  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-6 {width: 50%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-12 {width: 100%;}

  .footer1{
    padding-top: 125px;
  }
}

/*End of Footer 1*/

/*Footer 2*/

.footer-2{
  background-color: #e6e9eb;
  padding-top: 18.72px;
  padding-bottom: 18.72px;
}

.copyright{
  text-align:center;
  }

.addictives{
  text-align: center;
  vertical-align: middle;
}

.social-media{
  text-align: center;
}

.social{
  color: #007ac1;
  padding-left: 15px;
  padding-right: 15px;
}

/*End of Footer 2*/